[run]
branch = True
source = taskpaper

[report]
fail_under = 100
show_missing = True
exclude_lines =
    pragma: no cover
    .*:.* # Python \d.*
    assert False, "Should not be reachable"
    .*:.* # Platform-specific:

[paths]
source =
    taskpaper/
    .tox/*/lib/python*/site-packages/taskpaper
    .tox/pypy*/site-packages/taskpaper